<header class="site-header">
  <div class="top-bar">
  <div class="site-nav">
    <div class="trigger">
      {% for link in site.navigation %}
        {% assign pageclass = 'page-link' %}
        {% if page.url == link.url or page.layout == link.layout %}
          {% assign pageclass = 'page-link-current' %}
        {% endif %}
        <div class="nav-item">
          <a class="{{pageclass}}" href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a>
        </div>
      {% endfor %}
			<!--
      {% for page in pages %}
        {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
      {% endfor %}
			-->
    </div>
  </div>
</div>

</header>
