---
layout: default
title: Links
---
%p
  information resources:
  %ul
    %li
      %a(href='http://dorkbotpdx.org/') dorkbot pdx
    %li
      %a(href='http://linuxaudio.org') linux audio

%p
  friends:
  %ul
    %li
      %a(href='http://anestheticaudio.com/') anesthetic audio
    %li
      %a(href='http://aug.ment.org') august black
    %li
      %a(href='http://www.community-library.net') community library
    %li
      %a(href='http://dougtheriault.org') doug theriault
    %li
      %a(href='http://www.gzifcak.net/') greg zifcak
    %li
      %a(href='http://noisybox.net/') noisy box
    %li
      %a(href='http://yardrec.com') yard

%p
  open source audio / visual tools [which work with linux]:
  %ul
    %li
      %a(href='http://supercollider.sourceforge.net/') supercollider
      a very powerful audio programming environment (my favorite so far)
    %li
      %a(href='http://puredata.info/') puredata
      "a real-time graphical programming environment for audio, video, and
      graphical processing."
    %li
      %a(href='http://gem.iem.at/') gem
      A graphics extension to pure data.
    %li
      %a(href='http://www.pawfal.org/Software/fluxus/') fluxus
      A graphics "live coding" environment.
