---
layout: project
title: SCVim
---

%p
  A number of years ago I was running Linux and learning to use
  %a(href='https://supercollider.github.io/')SuperCollider
  At that time Emacs was the preferred way to interact with SuperCollider on Linux. 
  Since I was, and still am, a
  %a(href="http://www.vim.org")vim
  user, I found that problematic.

%p
  So I created <b>SCVim</b>, which was a set of scripts to allow for interaction with SuperCollider in vim with:
  %ul
    %li
      Syntax Highlighting, dynamically updates
    %li 
      The ability to send single lines, visual blocks or supercollider blocks (ie surrounded by parens) to sclang
    %li 
      key bindings for s.freeAll, thisProcess.stop() [cmd-. in the SC editor], TempoClock.clear()
    %li 
      In-line Help
    %li 
      In-line Class definition Look-up

%p
  The project has lived quite a while and even ended up being added into the main SuperCollider repository at one point.
  There have been a number of different contributors, and I haven't been very involved in a while.

%p
  The main SCVim repo is now based on a fork and can be found
  %a(href="https://github.com/supercollider/scvim")at the SuperCollider SCVim github repo.


%h2 Links:

%p
  %ul
    %li
      %a(href="https://github.com/supercollider/scvim")the SCVim github repo
    %li
      %a(href='https://supercollider.github.io/')The SuperCollider Home Page
    %li
      %a(href='http://www.vim.org')vim
