---
layout: default
title: Alex's Web Log
---

%ul.posts
  {% for post in site.posts %}
  %li
    %span#post-date {{ post.date | date: "%b %-d, %Y" }}
    %a#post-link(href="{{ post.url | prepend: site.baseurl }}") {{ post.title }}
  {% endfor %}

-#  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
