---
layout: project
title: Evolver Editor
---

%p
  This is a graphical editor for the Dave Smith Instrument's Evolver
  synthesizer.  It was developed for the tabletop version, but I figure it
  should work for the keyboard version as well.  It has been tested on
  Linux and I'm pretty sure it also works on osX.

%p
  %h2 Screenshots
  %ul
    %li
      %a(href='/images/evolver_editor/main.png') main view

%p
  %h2 Requirements
  %ul
    %li
      %a(href='http://www.davesmithinstruments.com') an evolver synthesizer
    %li
      %a(href='http://www.boost.org') boost's program options
    %li
      %a(href='http://www.qtsoftware.com/') qt 4.0 or greater
    %li
      %a(href='http://portmedia.sourceforge.net/') port midi
%p
  %h2 License
  ! {% include gpl_lib.html %}
%p
  %h2 How to get it
  ! {% include get_github.html url='https://github.com/x37v/evolver-editor' %}
