---
layout: project
title: Datajockey
---

%p
  Datajockey is a project that I have been working on for some time.
  The primary goal of this project is to create an environment where users can
  explore audio meta data and use that exploration during the production of
  creative works, in this case, dj-style mixes.
%p
  This project has gone through several revisions, it was my Masters thesis
  project, it has evolved since then, but it still isn't quite ready for
  general use, largely because I haven't had enough time to smooth out the
  rough edges.
%p
  I have been using it personally, in its many revisions, for quite some time
  now, and if you are interested in checking it out or contributing then you
  can check out the
  %a(href='https://github.com/x37v/datajockey') github
  development page.
%p
  For an idea of where it has been and where it is going, you can check out the
  previous
  %a(href='/projects/datajockey/doc/index.html') datajockey documentation
  and a publication I wrote about it on my
  %a(href='/publications') publications page

%h2 Presentations
%p
  I presented Data Jockey at
  %a(href='http://piksel.no/piksel08/') Piksel 08
  in Bergen, Norway on December 4th, 2008.
%p
  I presented Data Jockey at the International Computer Music Conference
  (ICMC) in the summer of 2007.  See my 
  %a(href='/publications') publications page
  for a copy of the paper which was published in the proceedings.

%p
  %h2 License
  ! {% include gpl_lib.html %}

%p
  %h2 Thanks:
  %ul
    %li
      %a(href='http://yardrec.com') Chris Jones (aka Yard)
      created the icons, and provided general graphical design as well as
      general brainstorming for this project.
    %li
      %a(href='http://www.community-library.net/artist_solenoid.html') David Chandler (aka Dj Broken Window)
      provided inspiration, brainstorming and lots of music recommendations.
    %li
      %a(href='http://xavier.amatriain.net/') Xavier Amatriain,
      %a(href='http://heaveneverywhere.com/stp/') Stephen Travis Pope,
      %a(href='http://clang.mat.ucsb.edu/') Curtis Roads
      guidance with the project [my masters thesis committee]
    %li
      William Wolcott,
      %a(href='http://charlie-roberts.com/') Charlie Roberts
      brainstorming.
    %li
      Open Source software developers: without the work of others (through
      software libraries, irc consultations, etc)  I could not have created
      this project in any reasonable amount of time.
