<!DOCTYPE html>
<html>

  {% include head.html %}
	<body>
			<div id="page-container">
				{% include header.html %}

				<div class="page-content">
					{% if page.url != "/" %}
					<header class="post-header">
						<h1>{{ page.title }}</h1>
					</header>
					{% endif %}
					<div class="wrap">
					{{ content }}
					</div>
				</div>

				{% include footer.html %}
			</div>

			<canvas id="bgcanvas"></canvas>
			<script type="application/x-javascript">
				$(document).ready(function(){
					var canvas = document.getElementById("bgcanvas");
					
					var w = canvas.width = 100;
					var h = canvas.height = 100;
					
					var context = canvas.getContext("2d");
					context.fillStyle = "black";
					for(i=0;i<w/10;i++) {
						var a = Math.floor(Math.random()*h);
						var b = Math.floor(Math.random()*w);
						var c = Math.floor(Math.random()*h);
						var d = Math.floor(Math.random()*w);
						context.beginPath();
						context.moveTo(0, a);
						context.lineTo(b, h);
						context.lineTo(w, c);
						context.lineTo(d, 0);
						context.closePath();
						context.stroke();
					}
				$('body').css({'background-image':"url(" + canvas.toDataURL("image/png")+ ")"});
				});
			</script>
		</body>
</html>
