---
layout: default
title: Publications
---
%p
  A. Norman, X. Amatriain,
  %strong
    'Data Jockey, A Tool for Meta-Data Enhanced Digital DJing and Active
    Listening,'
  Proceedings of the International Computer Music Conference, August 2007.
  Copenhagen, Denmark.
  %br
  %a(href='/publications/anorman-xamatriain-icmc07.ps') ps
  %a(href='/publications/anorman-xamatriain-icmc07.pdf') pdf

%p
  Rebecca Zwick, Jeffrey C. Sklar, Graham Wakefield, Cris Hamilton, Alex
  Norman, Douglas Folsom, 
  %strong
    'Instructional Tools in Educational Measurement and Statistics (ITEMS)
    for School Personnel: Evaluation of Three Web-Based Training Modules,' 
  Educational Measurement: Issues and Practice 27 (2), 14–27, 2008.

%p
  Gibson, J.D.; Kuchera-Morin, J.; Norman, A., 
  %strong
    'Experiential Signal Processing (ESP) and Experiential
    Telecommunications (ET),' 
  Signals, Systems and Computers, 2007. ACSSC 2007. Conference Record of
  the Forty-First Asilomar Conference on Volume, Issue, 4-7 Nov. 2007
  Pages:1511 - 1515.

%p
  J. Pampin, O. Di Liscia, W. Moss, A. Norman,
  %strong
    'ATS User Interfaces,'
  Proceedings of the International Computer Music Conference, November 2004.
  Miami, USA.
  %br
  %a(href='/publications/ats_user_interfaces.pdf') pdf
